AGENTCOMOS_ENV=local
AGENTCOMOS_HOME=.agentcomos
AGENTCOMOS_TIMEZONE=America/Los_Angeles
OPENCODE_SERVER_URL=http://127.0.0.1:4096
OPENCODE_PORT=4096
HERMES_BIN=hermes
TMUX_BIN=tmux
DISCORD_BOT_TOKEN=
GITHUB_REPO=
CONTABO_HOST=
CONTABO_USER=root
CONTABO_SSH_KEY=~/.ssh/id_rsa
